.col-1{
    width: 8.33%;}
.col-2{
    width: 16.66%;}
.col-3{
    width: 25%;}
.col-4{
    width: 33.32%;}
.col-5{
    width: 41.65%;}
.col-6{
    width: 50%; background-color: aqua;}
.col-7{
    width: 58.22%;}
.col-8{
    width: 66.55%;}
.col-9{
    width: 95%;}
.col-10{
    width: 83.21%;}
.col-11{
    width: 91.54%;}
.col-12{
    width: 100%;}

.row{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    border: 1px solid black;
}